*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    padding: 30px 0;
}

.name{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn__block{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
}

.btn{
    width: auto;
    min-height: 40px;
    padding: 4px 10px;
    border-radius: 4px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eee;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.btn:hover{
    background-color: #70a2ff;
}

.remove-list {
    margin-left: 10px;
    cursor: pointer;
    color: #9f0044;
}

.remove-list:hover{
    text-decoration: underline;
}